<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona nie istnieje</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<main class="container text-center mt-5">
    <div>
        <h2 class="display-4 text-danger">400 – Błędne żądanie</h2>
        <p class="lead mt-3">Wysłane żądanie jest nieprawidłowe lub niekompletne.</p>
        <p>Upewnij się, że przesyłane dane są poprawne i spróbuj ponownie.</p>

        <div class="mt-4">
            <a href="javascript:history.back()" class="btn btn-primary btn-lg">Wróć</a>
        </div>
    </div>
</main>
</body>
</html>