<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brak dostępu</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<main class="container text-center mt-5">
    <div>
        <h2 class="display-4 text-danger">403 – Brak dostępu</h2>
        <p class="lead mt-3">Nie masz uprawnień do przeglądania tej strony lub wykonania tej akcji.</p>
        <p>Jeśli uważasz, że to błąd, skontaktuj się z administratorem systemu.</p>

        <div class="mt-4">
            <a href="javascript:history.back()" class="btn btn-primary btn-lg">Wróć</a>
        </div>
    </div>
</main>
</body>
</html>