<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kursy</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Kursy</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/admin}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <span>Kursy</span>
</div>
<br><br>
<div class="user-courses">
    <div class="element">
        <form th:action="@{/admin/courses}" method="get">
            <input name="keyword" type="text" th:value="${keyword}" placeholder="Wyszukaj...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <br>
    <div class="element">
        <table>
            <thead>
            <tr>
                <td>ID:</td>
                <td>Nazwa:</td>
                <td>ID twórcy:</td>
                <td>Twórca:</td>
                <td>Działania:</td>
            </tr>
            </thead>
            <tr th:each="course: ${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.name}"></td>
                <td th:text="${course.creatorId}"></td>
                <td th:text="${course.creatorName}"></td>
                <td>
                    <a class="icon-remove" th:href="@{/admin/courses/{courseId}/remove(courseId=${course.id})}"><i class="fa-solid fa-remove"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div th:if="${success!=null} and ${!success.isBlank()}"
         class="alert alert-success mt-2" th:text="${success}">
    </div>
    <div th:if="${error!=null} and ${!error.isBlank()}">
        <div class="alert alert-danger mt-2" th:text="${error}"></div>
    </div>
    <div class="element">
        <a class="page-span"
           th:each="pageElem: ${#numbers.sequence(1,totalPages)}"
           th:if="${pageElem > 0}"
           th:href="@{/admin/courses(keyword=${keyword},page=${pageElem}-1)}"
           th:text="${pageElem}"
        ></a>
    </div>
</div>
<br><br>
</body>
</html>