<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Podgląd próby</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Info about</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/test/{testId}/display(testId=${attempt.testId})}">Test</a>
    <span>&nbsp>&nbsp</span>
    <span>Podgląd próby</span>
</div>
<br><br>
<div class="user-courses">
    <div class="element">
        <p th:text="'Pytanie ' + ${questionNo} + ' z ' + ${totalQuestionNumber}"></p>
        <p th:text="${attempt.questions[questionNo - 1].description}"></p>
        <div th:each="answer : ${attempt.questions[questionNo - 1].answers}">
            <input disabled type="checkbox" th:checked="${answer.userAnswer}">
            <span th:if="${answer.userAnswer == answer.correctAnswer}" th:text="${answer.content} + ' - T'"></span>
            <span th:unless="${answer.userAnswer == answer.correctAnswer}" th:text="${answer.content} + ' - F'"></span>
        </div>
    </div>
    <br>
    <div class="element">
        <a th:href="@{/test/{testId}/display(testId=${attempt.testId})}">Powrót</a>
    </div>
    <br>
    <div class="element">
        <a class="page-span"
           th:each="number : ${#numbers.sequence(1, totalQuestionNumber)}"
           th:href="@{/attempt/{attemptId}/overview/{questionId}(attemptId=${attemptId}, questionId=${number})}"
           th:text="${number}">
        </a>
    </div>
</div>
<br><br>
</body>
</html>