<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tworzenie kursu</title>
    <link th:replace="~{fragments :: navbar-style}">
    <link rel="stylesheet" href="../static/styles/info-bar.css" th:href="@{/styles/info-bar.css}">
    <link rel="stylesheet" href="../static/scripts/main.css" th:href="@{/scripts/main.css}">
</head>
<body>

<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <h2>Tworzenie kursu</h2>
</div>
<div class="info-bar">
    <a th:href="@{/teacher}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <span>Tworzenie kursu</span>
</div>
<br><br>
<div class="user-courses">
    <form action="#" th:action="@{/teacher/course/create}" method="post" th:object="${course}">
        <div class="element">
            <label>
                <p>Nazwa kursu:</p>
                <p>
                    <input type="text" th:field="${course.name}" placeholder="Kurs">
                </p>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Błędna nazwa</p>
            </label>
            <label>
                <p>Opis:</p>
                <textarea rows="10" th:field="*{description}"
                          placeholder="Wprowadź opis kursu...">Opis kursu</textarea>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Błędny opis</p>
            </label>
        </div>
        <br>
        <div class="submit-button">
            <button type="submit">Dodaj kurs</button>
        </div>
        <br>
    </form>
</div>
</body>
</html>