<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utworzony kurs</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Utworzono nowy kurs</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/admin}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/admin/course/create}">Tworzenie kursu</a>
    <span>&nbsp>&nbsp</span>
    <span>Potwierdzenie</span>
</div>
<br><br>
<body>

<div class="user-courses">
    <div th:if="${message!=null} and ${!message.isBlank()}"
         class="alert alert-success mt-2" th:text="${message}">
    </div>
    <div th:if="${message.isEmpty()}">
        <div class="alert alert-danger mt-2">*nie stworzono żadnego kursu!</div>
    </div>
</div>

</body>
</html>