<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.name}">Nazwa kursu</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2 th:text="${course.name}">Nazwa kursu </h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <span>Moje kursy</span>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.name}">Nazwa kursu</a>
</div>
<br><br>
<div class="user-courses">
    <div class="element">
        <p th:utext="${course.description}">Opis kursu</p>
    </div>
    <br>
    <div th:each="courseModule : ${course.modules}">
        <div class="element">
            <h3 th:text="${courseModule.name}">Nazwa modułu</h3>
            <div th:each="item : ${courseModule.items}">
                <p th:text="${item.name}">Element modułu</p>
            </div>
            <div th:each="test : ${courseModule.tests}">
                <p><a href="#" th:href="@{/module/quiz/{id}(id=${test.getId()})}" th:text="${test.name}">Nazwa Testu</a></p>
            </div>
        </div>
        <br>
    </div>
</div>


</body>
</html>