<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utworzony kurs</title>
    <link th:replace="~{fragments :: navbar-style}">
    <link rel="stylesheet" href="../static/styles/info-bar.css" th:href="@{/styles/info-bar.css}">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Utworzono nowy kurs</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/admin}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/admin/course/create}">Tworzenie kursu</a>
    <span>&nbsp>&nbsp</span>
    <span>Potwierdzenie</span>
</div>
<br><br>
<body>

<div class="user-courses">
    <div class="element">
        <p th:if="${message}!=null" th:text="${message}"></p>
        <p th:if="${message.isEmpty()}">Nie stworzono żadnego kursu</p>
    </div>
    <br>
</div>

</body>
</html>