<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.name}">Nazwa kursu</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2 th:text="${course.name}">Nazwa kursu </h2>
    </div>
</div>
<div class="info-bar">
    <a sec:authorize="hasAnyRole('STUDENT')" th:href="@{/}">Strona główna</a>
    <a sec:authorize="hasAnyRole('DEMO')" th:href="@{/demo}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <span>Moje kursy</span>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.name}">Nazwa kursu</a>
</div>
<br><br>
<div class="user-courses">
    <div th:if="${course.description != null} and ${!course.description.equals('<p><br></p>')}">
        <div class="element">
            <p th:utext="${course.description}">Opis kursu</p>
        </div>
        <br>
    </div>
    <div th:each="courseModule : ${course.modules}">
        <div class="element">
            <h3 class="mb-4" th:text="${courseModule.name}">Nazwa modułu</h3>
            <div th:each="item : ${courseModule.items}">
                <div th:if="${item.description != null} and ${!item.description.equals('<p><br></p>')}"
                     th:utext="${item.description}"></div>
                <div th:if="${item.filePath != null}">
                    <div style="display: flex; gap: 10px">
                        <p class="form-label"><i class="fa-regular fa-file"></i></i></p>
                        <a th:href="@{/resource/{filename}(filename=${item.filePath})}"
                           th:text="${item.name}" class="form-label" target="_blank">Plik</a>
                    </div>
                </div>
            </div>
            <div th:each="test : ${courseModule.tests}">
                <div style="display: flex; gap: 10px">
                    <p class="form-label"><i class="fa-regular fa-clipboard"></i></p>
                    <a class="form-label" href="#" th:href="@{/test/{id}/display(id=${test.getId()})}" th:text="${test.name}"></a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>


</body>
</html>