<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja kursu</title>
    <link th:replace="~{fragments :: navbar-style}">
    <link rel="stylesheet" href="../static/styles/info-bar.css" th:href="@{/styles/info-bar.css}">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Edycja kursu</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/teacher}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/course}">Moje kursy</a>
    <span>&nbsp>&nbsp</span>
    <span>Edycja kursu</span>
</div>
<br><br>
<div class="user-courses">

</div>
<br><br>
<script>

</script>
</body>
</html>
