<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Email - potwierdzenie</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Potwierdzenie wiadomości e-mail:</h2>
    </div>
</div>
<div class="info-bar">
    <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/admin}">Strona główna</a>
    <a sec:authorize="hasAnyRole('STUDENT')" th:href="@{/}">Strona główna</a>
    <a sec:authorize="hasAnyRole('TEACHER')" th:href="@{/teacher}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/email}">E-mail</a>
    <span>&nbsp>&nbsp</span>
    <span>Potwierdzenie</span>
</div>
<br>
<div class="user-courses">
    <div th:if="${message!=null} and ${!message.isBlank()}"
         class="alert alert-success mt-2" th:text="${message}">
    </div>
    <div th:if="${message == null}">
        <div class="alert alert-danger mt-2">*nie wysłano żadnej wiadomości e-mail!</div>
    </div>
</div>
<br><br>
</body>
</html>