<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Potwierdzenie zapisu</title>
    <link th:replace="~{fragments :: navbar-style}">
    <link rel="stylesheet" href="../static/styles/info-bar.css" th:href="@{/styles/info-bar.css}">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Potwierdzenie zapisu</h2>
    </div>
</div>
<div class="user-courses">
    <div class="element">
        <p th:if="${message!=null}" th:text="${message}"></p>
        <p th:if="${message.isEmpty()}">Nie przeprowadzono żadnego zapisu</p>
    </div>
    <br>
    <div class="element">
        <a th:href="@{/teacher/course}">Moje kursy</a>
    </div>
    <br>
</div>
<br><br>
</body>
</html>