<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="head" rel="stylesheet" href="../static/styles/navbar.css"
          th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" href="../static/styles/info-bar.css" th:href="@{/styles/info-bar.css}">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <script th:src="@{/scripts/position.js}"></script>
</head>
<body>
<header id="navbar" th:fragment="navbar">
    <div class="navbar-wrapper">
        <div class="logo-name">Logo</div>
        <ul class="nav-items">
            <li><span th:if="${session.userInfo!=null}" th:text="'Zalogowany jako: '
            + ${session.userInfo.firstName}">Zalogowany jako: IN</span></li>
            <li sec:authorize="hasAnyRole('STUDENT')" class="link"><a href="#" th:href="@{/}">Strona główna</a></li>
            <li sec:authorize="hasAnyRole('TEACHER')" class="link"><a href="#" th:href="@{/teacher}">Strona główna</a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN')" class="link"><a href="#" th:href="@{/admin}">Strona główna</a></li>
            <li class="link"><a href="#" th:href="@{/settings}">Ustawienia</a></li>
            <li class="link"><a href="#" th:href="@{/logout}">Wyloguj się</a></li>
        </ul>
    </div>

</header>
</body>
</html>