<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="navbar-style" rel="stylesheet" href="../static/styles/navbar.css"
          th:href="@{/styles/navbar.css}">
</head>
<body>
<header id="navbar" th:fragment="navbar">
    <div class="navbar-wrapper">
        <div class="logo-name">Logo</div>
        <ul class="nav-items">
            <li><span th:text="'Zalogowany jako: '
            + ${session.userInfo.firstName}">Zalogowany jako: IN</span></li>
            <li sec:authorize="hasAnyRole('STUDENT')" class="link"><a href="#" th:href="@{/}">Strona główna</a></li>
            <li sec:authorize="hasAnyRole('TEACHER')" class="link"><a href="#" th:href="@{/teacher}">Strona główna</a></li>
            <li sec:authorize="hasAnyRole('ADMIN')" class="link"><a href="#" th:href="@{/admin}">Strona główna</a></li>
            <li class="link"><a href="#">Ustawienia</a></li>
            <li class="link"><a href="#" th:href="@{/logout}">Wyloguj się</a></li>
        </ul>
    </div>

</header>
</body>
</html>