<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodanie do grupy - potwierdzenie</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Dodanie do grupy - potwierdzenie</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/admin}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/admin/groups}">Zarządzanie grupami</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/admin/groups/add}">Dodawanie do grupy</a>
    <span>&nbsp>&nbsp</span>
    <span>Potwierdzenie</span>
</div>
<br>
<div class="user-courses">
    <div th:if="${message!=null} and ${!message.isBlank()}"
         class="alert alert-success mt-2" th:text="${message}">
    </div>
    <div th:if="${message.isEmpty()}">
        <div class="alert alert-danger mt-2">*nie dodano nikogo grupy!</div>
    </div>
</div>
<br><br>
</body>
</html>