<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grupy</title>
    <link th:replace="~{fragments :: navbar-style}">
    <link rel="stylesheet" href="../static/styles/info-bar.css" th:href="@{/styles/info-bar.css}">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Grupy</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/admin}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/admin/groups}">Zarządzanie grupami</a>
    <span>&nbsp>&nbsp</span>
    <span>Grupy</span>
</div>
<br><br>
<div class="user-courses">
    <div class="element">
        <form th:action="@{/admin/groups/display}" method="get">
            <input name="keyword" type="text" th:value="${keyword}" placeholder="Wyszukaj...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <br>
    <div class="element">
        <table>
            <thead>
            <tr>
                <td>ID:</td>
                <td>Nazwa:</td>
                <td>Działania:</td>
            </tr>
            </thead>
            <tr th:each="group: ${groups}">
                <td th:text="${group.id}"></td>
                <td th:text="${group.name}"></td>
                <td>
                    <a href="#"><i
                            class="fa-solid fa-edit"></i></a>
                    <a href="#" th:href="@{/admin/groups/display/remove/{id}(id=${group.id})}">
                        <i class="fa-solid fa-remove"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div th:if="${message!=null} and ${!message.isBlank()}">
        <div  class="element">
            <p th:text="${message}"></p>
        </div>
        <br>
    </div>
    <div class="element">
        <a class="page-span"
           th:each="pageElem: ${#numbers.sequence(1,totalPages)}"
           th:if="${pageElem > 0}"
           th:href="@{/admin/groups/display(keyword=${keyword},page=${pageElem}-1)}"
           th:text="${pageElem}"
        ></a>
    </div>
</div>
<br><br>
</body>
</html>