<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Strona startowa</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <h2>Moje Kursy</h2>
</div>
<br><br>
<div class="user-courses">
    <div th:each="course: ${courses}">
        <div class="element">
            <a th:href="@{/course/{id}(id=${course.getId()})}" th:text="${course.getName()}">Nazwa kursu</a>
            <p>
                <a th:href="@{/user/{id}(id=${course.getCreatorId()})}" th:text="'Autor: '+${course.getCreatorName()}">

                </a>
            </p>

        </div>
        <br>
    </div>
</div>
</body>
</html>