<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<div class="info-bar">
    <h2>Logowanie</h2>
</div>
<br><br>
<div class="user-courses">
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="element">
            <p th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></p>
        </div>
        <br>
        <div class="element">
            <p>Podaj dane:</p>
            <input name="username" placeholder="e-mail">
            <input name="password" type="password" placeholder="hasło">
            <button type="submit">Zaloguj się</button>
        </div>
        <br>
        <div th:if="${success != null}">
            <div class="element">
                <p th:text="${success}"></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>