<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja elementu</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2 th:text="'Edycja elementu modułu: '+${moduleItem.name}">Edycja elementu modułu</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/teacher}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/course}">Moje kursy</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/course/edit/{id}(id=${moduleItem.courseId})}">Edycja kursu</a>
    <span>&nbsp>&nbsp</span>
    <span>Edycja elementu</span>
</div>
<br><br>
<div class="user-courses">
    <div th:if="${message!=null} and ${!message.isBlank()}"
         class="alert alert-success mt-2" th:text="${message}">
    </div>

    <form th:action="@{/teacher/module-item/{itemId}/edit(itemId=${itemId})}"
          th:object="${moduleItem}" method="post" enctype="multipart/form-data">
        <div class="element">
            <input type="hidden" th:field="*{id}" th:value="*{id}">
            <label class="form-label" style="font-weight: bold" for="description">Opis modułu:</label>
            <textarea id="description" style="display: none" th:field="*{description}"
                      name="description"></textarea>
            <div id="editor"></div>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            <br>
            <div th:if="*{fileUrl != null}" class="d-flex align-items-center mb-2" style="gap: 15px">
                <span style="font-weight: bold">Aktualnie załączony plik:</span>
                <a th:href="@{/resource/{filename}(filename=*{fileUrl})}"
                   th:text="*{name}" target="_blank"></a>
                <a th:href="@{/teacher/module-item/{itemId}/remove-file(itemId=${itemId})}" class="btn btn-danger btn-sm">Usuń</a>
                <p></p>
            </div>
            <input class="form-control" type="file" name="file">
        </div>
        <br>
        <div th:if="${success!=null} and ${!success.isBlank()}"
             class="alert alert-success mt-2" th:text="${success}">
        </div>
        <div th:if="${error!=null} and ${!error.isBlank()}"
             class="alert alert-danger mt-2" th:text="${error}">
        </div>
        <div class="element" style="visibility: hidden">
            <div class="submit-button">
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
        <br>
    </form>
</div>
<br><br>
<script th:inline="javascript">
    const quill = new Quill('#editor', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                ['link'],
            ],
        },
        theme: 'snow',
    });

    const description = /*[[${moduleItem.description}]]*/ '';
    quill.root.innerHTML = description;
    document.querySelector('form').onsubmit = function (event) {
        document.querySelector('#description').value = quill.root.innerHTML;
    };
</script>
</body>
</html>