<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana hasła</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Zmiana hasła:</h2>
    </div>
</div>
<br><br>
<div class="user-courses">
    <form th:action="@{/change-password}" method="post" th:object="${pass}">
        <div class="element">
            <p>Hasło:</p>
            <input type="password" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            <p>Powtórz hasło:</p>
            <input type="password" th:field="*{confirmedPassword}">
            <p th:if="${#fields.hasErrors('confirmedPassword')}" th:errors="*{confirmedPassword}"></p>
        </div>
        <br>
        <div class="submit-button">
            <button type="submit">Zmień hasło</button>
        </div>
        <br>
    </form>
</div>
<br><br>
</body>
</html>