<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profil publiczny</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2 th:text="'Profil użytkownika: ' + ${user.getFullName()}">Profil Użytkownika</h2>
    </div>
</div>
<div class="info-bar">
    <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/admin}">Strona główna</a>
    <a sec:authorize="hasAnyRole('STUDENT')" th:href="@{/}">Strona główna</a>
    <a sec:authorize="hasAnyRole('TEACHER')" th:href="@{/teacher}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <span>Użytkownicy</span>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.getFullName()}"></a>
</div>
<br><br>
<div class="user-courses">
    <div class="element">
        <p th:text="'E-mail: ' + ${user.email}">E-mail:</p>
        <a
                th:href="@{/email/prepare-user(userId=${user.id})}"
                target="_blank"
        >
            <i class="fa-solid fa-envelope"></i>
            Wyślij wiadomość:
        </a>
    </div>
</div>
<br><br>
</body>
</html>