<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja pytania</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2 th:text="'Edycja pytania o ID = ' + ${questionId}"></h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/teacher}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/course}">Moje kursy</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/course/edit/{id}(id=${question.courseId})}">Edycja kursu</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/test/{testId}/edit(testId=${question.testId})}">Edycja testu</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/test/{testId}/questions(testId=${question.testId})}">Pytania</a>
    <span>&nbsp>&nbsp</span>
    <span>Edycja pytania</span>
</div>
<br><br>
<div class="user-courses">
    <form method="post" th:object="${question}"
          th:action="@{/teacher/questions/edit/{questionId}(questionId=${questionId})}">
        <div class="element">
            <input type="hidden" th:field="*{courseId}">
            <input type="hidden" th:field="*{testId}">
            <input type="hidden" th:field="*{id}">

            <label for="description" class="form-label">Treść pytania:</label>
            <textarea id="description" class="form-control mb-3" style="display: none"
                      th:field="*{description}" name="description"></textarea>
            <div id="editor" class="mb-3"></div>

            <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback d-block mb-3"
                 th:errors="*{description}"></div>

            <label class="form-label mt-2">Maksymalna ilość punktów za pytanie:</label>
            <input type="number" class="form-control mb-3" th:field="*{score}">
            <div th:if="${#fields.hasErrors('score')}" class="invalid-feedback d-block mb-3"
                 th:errors="*{score}"></div>

            <label class="form-label">Kategoria:</label>
            <input type="text" class="form-control mb-3" th:field="*{category}">
            <div th:if="${#fields.hasErrors('category')}" class="invalid-feedback d-block mb-3"
                 th:errors="*{category}"></div>

            <label class="form-label">Wybierz typ pytania:</label>
            <select class="form-select mb-3" th:field="*{type}" id="type">
                <option th:value="'SINGLE_CHOICE'">Pojedyńczy wybór</option>
                <option th:value="'MULTIPLE_CHOICE'">Wielokrotny wybór</option>
            </select>
        </div>

        <br>

        <div class="element">
            <label class="form-label">Odpowiedzi na pytanie:</label>
            <div class="answer-edit" th:each="anwers,iter : *{answers}">
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input"
                           th:field="*{answers[__${iter.index}__].correct}" id="correct__${iter.index}__">
                    <label class="form-check-label" th:for="'correct__' + ${iter.index}">Prawidłowa</label>
                </div>

                <label class="form-label">Treść odpowiedzi:</label>
                <input type="text" class="form-control mb-2"
                       th:field="*{answers[__${iter.index}__].content}">
                    <div th:if="${#fields.hasErrors('answers[' + iter.index + '].content')}"
                         class="invalid-feedback d-block mb-3"
                         th:errors="*{answers[__${iter.index}__].content}">
                    </div>

                <input type="hidden" th:field="*{answers[__${iter.index}__].id}"/>
                <a class="btn btn-danger btn-sm"
                   th:href="@{/teacher/answer/{id}/remove-answer(id=*{answers[__${iter.index}__].id})}">
                    Usuń
                </a>
            </div>

            <div th:if="${question.answers.size() < maxNumberOfAnswers}" class="mt-1">
                <a class="btn btn-primary btn-sm" th:href="@{/teacher/question/{id}/add-answer(id=${question.id})}">
                    Dodaj odpowiedź
                </a>
            </div>
        </div>

        <br>

            <div th:if="${message!=null} and ${!message.isBlank()}"
                    class="alert alert-success mt-2" th:text="${message}">
            </div>

        <div th:if="${error!=null} and ${!error.isBlank()}" class="element">
            <div class="alert alert-danger mt-2" th:text="${error}"></div>
        </div>


        <div class="element" style="visibility: hidden">
            <div class="submit-button">
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
    </form>

</div>
<br><br>
<script th:inline="javascript">
    const quill = new Quill('#editor', {
        modules: {
            toolbar: false
        },
        theme: 'snow',
    });

    const description = /*[[${question.description}]]*/ '';
    quill.setText(description);
    document.querySelector('form').onsubmit = function (event) {
        document.querySelector('#description').value = quill.getText();
    };
</script>
</body>
</html>