<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nauczyciel - strona startowa</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Panel nauczyciela </h2>
    </div>
</div>
<br><br>
<div class="user-courses">
    <div class="element">
        <p class="h5 text-primary mb-0"><a href="#" th:href="@{/teacher/course}">Moje kursy</a></p>
    </div>
    <br>
</div>
</body>
</html>