<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zapisanie</title>
    <link th:replace="~{fragments :: navbar-style}">
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<main>
    <div>
        <h1>Dodaj użytkownika do kursu</h1>
        <form action="#" th:action="@{/teacher/enroll}" method="post" th:object="${enroll}">
            <table>
                <tr>
                    <td><input type="text" th:field="*{userEmail}" placeholder="E-mail użytkownika"></td>
                    <td th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Email Error</td>
                </tr>
                <tr>
                    <td><input type="text" th:field="*{courseName}" placeholder="Nazwa kursu"></td>
                    <td th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}">Email Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Zapisz użytkownika</button></td>
                </tr>
            </table>
        </form>
    </div>
</main>
</body>
</html>