<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja testu</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2 th:text="'Edycja testu: ' + ${test.name}">Info about</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/teacher}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/course}">Moje kursy</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/course/edit/{id}(id=${test.getCourseId()})}">Edycja kursu</a>
    <span>&nbsp>&nbsp</span>
    <span>Edycja testu</span>
</div>
<br><br>
<div class="user-courses">
    <div th:if="${message!=null} and ${!message.isBlank()}"
         class="alert alert-success mt-2" th:text="${message}">
    </div>
    <form id="test-update-form" method="post"
          th:action="@{/teacher/test/{testId}/edit(testId=${testId})}"
          th:object="${test}"
    >
        <div class="element">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{courseId}">
            <input type="hidden" th:field="*{name}">
            <label for="description" class="form-label">Opis testu:</label>
            <textarea id="description" style="display: none" th:field="*{description}"
                      name="description"></textarea>
            <div id="editor"></div>
            <p th:if="${#fields.hasErrors('description')}" class="invalid-feedback d-block mb-3" th:errors="*{description}"></p>
            <br>
            <p>Ilość pytań:</p>
            <input type="number" class="form-control mb-2" th:field="*{numberOfQuestions}">
            <p th:if="${#fields.hasErrors('numberOfQuestions')}" class="invalid-feedback d-block mb-3" th:errors="*{numberOfQuestions}"></p>
            <p>Czas trwania(w minutach):</p>
            <input type="number" class="form-control mb-2" th:field="*{duration}">
            <p th:if="${#fields.hasErrors('duration')}" class="invalid-feedback d-block mb-3" th:errors="*{duration}"></p>
            <p>Data otwarcia testu:</p>
            <input type="datetime-local" class="form-control mb-2" th:field="*{start}">
            <p th:if="${#fields.hasErrors('start')}" class="invalid-feedback d-block mb-3" th:errors="*{start}"></p>
            <p>Data zakończenia testu:</p>
            <input type="datetime-local" class="form-control mb-2" th:field="*{end}">
            <p th:if="${#fields.hasErrors('end')}" class="invalid-feedback d-block mb-3" th:errors="*{end}"></p>
            <p>Maksymalna ilość podejść</p>
            <input type="number" class="form-control mb-2" th:field="*{maxAttempts}">
            <p th:if="${#fields.hasErrors('maxAttempts')}" class="invalid-feedback d-block mb-3" th:errors="*{maxAttempts}"></p>
            <p>Podgląd prób:</p>
            <select th:field="*{overviewEnabled}" class="form-select mb-2" id="overview">
                <option th:value="false">Niedozwolony</option>
                <option th:value="true">Dozwolony</option>
            </select>
        </div>
        <br>
        <div class="element" style="visibility: hidden">
            <div class="submit-button">
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
        <br>
        <br>
    </form>
    <form id="questions-add-form" method="post" action="#" th:object="${question}"
          th:action="@{/teacher/test/{testId}/create-questions(testId=${testId})}">
        <div class="element">
            <p>Ilość pytań do stworzenia:</p>
            <input type="number" class="form-control mb-2" th:field="*{numberOfQuestions}">
            <div th:if="${error!=null} and ${!error.isBlank()}">
                <p class="invalid-feedback d-block mb-1" th:text="${error}"></p>
            </div>
        </div>
        <br>
        <div th:if="${questionMessage!=null} and ${!questionMessage.isBlank()}">
            <p class="alert alert-success mt-2" th:text="${questionMessage}"></p>
        </div>
        <div class="element" style="visibility: hidden">
            <div class="submit-button">
                <button type="submit" class="btn btn-primary">Stwórz bazę pytań</button>
            </div>
        </div>
        <br>
        <br>
    </form>
    <div class="element">
        <p><a th:href="@{/teacher/test/{testId}/questions(testId=${testId})}" class="h5 text-primary mb-0">Baza pytań</a></p>
    </div>
    <br>
    <div class="element">
        <p><a th:href="@{/test/{testId}/display(testId=${testId})}" class="h5 text-primary mb-0">Podgląd testu</a></p>
    </div>
    <br>
</div>
<br><br>
<script th:inline="javascript">
    const quill = new Quill('#editor', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                ['link'],
            ],
        },
        theme: 'snow',
    });

    const description = /*[[${test.description}]]*/ '';
    quill.root.innerHTML = description;
    document.querySelector('#test-update-form').onsubmit = function (event) {
        document.querySelector('#description').value = quill.root.innerHTML;
    };
</script>
</body>
</html>