<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${test.name}">Nazwa testu</title>
</head>
<body>
<main>
    <div>
        <h1 th:text="${test.name}">Nazwa testu</h1>
        <a th:href="@{/}">Strona główna</a>
        <span>&nbsp>&nbsp</span>
        <span>Moje kursy</span>
        <span>&nbsp>&nbsp</span>
        <a th:href="@{/course/{id}(id=${test.courseId})}" th:text="${test.courseName}">Nazwa kursu</a>
        <span>&nbsp>&nbsp</span>
        <span th:text="${test.moduleName}">Nazwa modułu</span>
        <span>&nbsp>&nbsp</span>
        <a th:href="@{/module/quiz/{id}(id=${test.id})}" th:text="${test.name}">Nazwa testu</a>
    </div>
    <div>
        <p th:text="${test.description}">Opis testu</p>
        <p th:if="${result!=null}" th:text="'Wynik testu: = ' + ${result.getScore()}">Wynik</p>
        <p th:if="${result==null}">Brak wyników!</p>
        <p>Rozwiąż test</p>
    </div>
</main>
</body>
</html>