<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zapisanie</title>
    <link th:replace="~{fragments :: navbar-style}">
    <link rel="stylesheet" href="../static/styles/info-bar.css" th:href="@{/styles/info-bar.css}">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Zapisywanie na kurs</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/teacher}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/teacher/course}">Moje kursy</a>
    <span>&nbsp>&nbsp</span>
    <span>Zapisywanie</span>
</div>
<br><br>
<div class="user-courses">
    <div class="element">
        <p th:text="'Zapisywanie na: ' + *{enroll.courseName}">Zapisywanie na: Nazwa kursu</p>
    </div>
    <br>
    <div class="element" th:object="${enroll}">
        <form th:action="@{/teacher/course-enroll/{id}(id=*{courseId})}" method="get">
            <input name="keyword" type="text" th:value="${keyword}" placeholder="Wyszukaj...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <br>
    <div class="element">
        <form action="#" th:action="@{/teacher/course-enroll/{id}(id=${enroll.courseId})}" method="post"
              th:object="${enroll}">
            <div>
                <span>Użytkownicy do zapisania: </span>
            </div>
            <br>
            <label>
                <input type="hidden" th:field="*{courseName}" th:value="*{courseName}">
            </label>
            <div th:each="user: ${users}" th:if="${user.role.equals('STUDENT')}">
                <input type="checkbox" th:field="*{emails}" th:value="${user.email}">
                <label th:text="${user.lastName +' '+ user.firstName +' ' + user.email + ' ' + user.group}">
                </label>
                <br>
            </div>
            <div th:if="${#fields.hasAnyErrors()}">
                <p th:each="err: ${#fields.allErrors()}" th:text="${err}"></p>
            </div>
            <p class="submit-button">
                <button type="submit">Zapisz użytkownika</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>