<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja użytkownika</title>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments :: navbar}"></header>
<div class="info-bar">
    <div>
        <h2>Edycja użytkownika</h2>
    </div>
</div>
<div class="info-bar">
    <a th:href="@{/admin}">Strona główna</a>
    <span>&nbsp>&nbsp</span>
    <a th:href="@{/admin/users}">Użytkownicy</a>
    <span>&nbsp>&nbsp</span>
    <span>Edycja użytkownika</span>
</div>
<br><br>
<div class="user-courses">
    <div th:if="${message!=null} and ${!message.isBlank()}"
         class="alert alert-success mt-2" th:text="${message}">
    </div>
    <form method="post" action="#" th:action="@{/admin/users/edit/{id}(id=${id})}" th:object="${user}">
        <div class="element">
            <p>Imię:</p>
            <input type="text" class="form-control mb-2" th:field="*{firstName}" th:value="*{firstName}">
            <p th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback d-block mb-3" th:errors="*{firstName}">Błędna nazwa</p>
            <p>Nazwisko:</p>
            <input type="text" th:field="*{lastName}" class="form-control mb-2" th:value="*{lastName}">
            <p th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback d-block mb-3" th:errors="*{lastName}">Błędna nazwa</p>
            <p>E-mail:</p>
            <input type="text" th:field="*{email}" class="form-control mb-2" th:value="*{email}">
            <p th:if="${#fields.hasErrors('email')}" class="invalid-feedback d-block mb-3" th:errors="*{email}">Błędna nazwa</p>
            <p>Pesel:</p>
            <input type="text" th:field="*{pesel}" class="form-control mb-2" th:value="*{pesel}">
            <p th:if="${#fields.hasErrors('pesel')}" class="invalid-feedback d-block mb-3" th:errors="*{pesel}">Błędna nazwa</p>
            <p>Grupa:</p>
            <input disabled type="text" class="form-control mb-2" th:field="*{group}" th:value="*{group}">
            <p>Rola:</p>
            <input disabled type="text" class="form-control mb-2" th:field="*{role}" th:value="*{role}">
        </div>
        <br>
        <div class="element">
            <p>Status:</p>
            <input disabled class="form-control mb-2" type="text" th:value="${user.enabled ? 'Aktywny' : 'Nieaktywny'}">
            <p>Zmień status:</p>
            <select class="form-select" th:field="*{enabled}">
                <option th:value="true">Aktywny</option>
                <option th:value="false">Nieaktywny</option>
            </select>
            <p th:if="${#fields.hasErrors('enabled')}" class="invalid-feedback d-block mb-3" th:errors="*{enabled}">Błędna nazwa</p>
        </div>
        <br>
        <div class="element" style="visibility: hidden">
            <div class="submit-button">
                <button type="submit" class="btn btn-primary">Zatwierdź zmiany</button>
            </div>
        </div>
        <br>
    </form>
    <form method="post" th:action="@{/admin/users/resend-token}" th:object="${token}">
        <div th:if="*{expiryDate != null}" class="element">
            <p>Token rejestracyjny:</p>
            <div>
                <input type="hidden" name="userId" th:value="${id}">
                <div th:if="*{isExpired()}">
                    <input class="form-control mb-2" disabled value="Aktywny">
                    <p></p>
                    <p>Data wygaśnięcia tokenu: </p>
                    <input class="form-control mb-2" disabled th:value="*{getFormattedExpiryDate()}">
                    <p></p>
                </div>
                <div th:if="*{!isExpired()}">
                    <input class="form-control mb-2" disabled value="Nieaktywny">
                    <p></p>
                    <p>Token wygasł: </p>
                    <input class="form-control mb-2" disabled th:value="*{getFormattedExpiryDate()}">
                    <p></p>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Wyślij ponownie</button>
                </div>
            </div>
        </div>
        <br>
        <div th:if="${tokenMessage!=null} and ${!tokenMessage.isBlank()}"
             class="alert alert-success mt-2" th:text="${tokenMessage}">
        </div>
        <div th:if="${error!=null} and ${!error.isBlank()}"
             class="alert alert-danger mt-2" th:text="${error}">
        </div>
    </form>
</div>
<br><br>
</body>
</html>