body {
    background: aliceblue;
    margin: 0;
}

.user-courses {
    padding: 0 30px;
}

.user-courses .element {
    border-radius: 5px;
    border-style: outset;
    padding: 10px;
    background: white;
    overflow: auto;
    min-width: 500px;
}

#test-name {
    padding: 0 0 20px 40px;
}

.submit-button {
    visibility: visible;
    display: flex;
    justify-content: center;
}


.page-span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 2px ridge #ccc;
    border-radius: 8px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-right: 10px;
}

.page-span:hover {
    background-color: #f0f0f0;
    color: #000;
    border-color: #888;
}

.page-span.answered {
    background-color: lightgreen;
}

.page-span.unanswered {
    background-color: palevioletred;
}

.element table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    text-align: center;
}

.element th, td {
    border: solid;
    text-align: center;
}

.element .user-settings-label {
    padding: 3px;
    border-style: solid;
    border-width: 1px;
}

.element .change-pass {
    padding: 3px;
    border-style: solid;
    border-width: 1px;
}

.test-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.action-button {
    margin-left: auto;
}

.module-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#editor {
    min-height: 250px;
}

.answer-edit {
    border-top: 1px solid;
    padding: 10px 0;
}

.answer-edit input[type="text"] {
    width: 100%;
}

.email-input {
    width: 100%;
}

.test-info-element {
    flex: 1;
    border: 1px solid darkblue;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 120px;
}

.test-info-element p {
    font-weight: bold;
}
@media (max-width: 500px) {
    .test-info-wrapper .element {
        flex-wrap: wrap;
    }
    .test-info-wrapper .test-info-element {
        flex: 1 1 100%;
    }
}

.test-summary{
    font-weight: bold;
    text-align: center;
}
